#svg-canvas {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "HOME ARTWORK GITHUB"
    "INTRO INTRO INTRO"
    "SVG SVG SVG";
}

.HOME { grid-area: HOME; }

.ARTWORK { grid-area: ARTWORK; }

.GITHUB { grid-area: GITHUB; }

.INTRO { grid-area: INTRO; }

.SVG { grid-area: SVG; }
